@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}
* {
  scroll-behavior: smooth;
}

.glass {
  background: rgba(20, 20, 20, 0.09);
  box-shadow: -1px 3px 20px 0px #ffffff0c;
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
}
